extends ./layout.jade

block uniqueStyles
	link(rel='stylesheet' type='text/css' href='css/about.css')

block content
	figure#head-shot
		img(src='assets/images/brian_koscielniak-01-L.jpg' alt='Brian Koscielniak')
	section#text !{text} 
