extends ./layout.jade

block unique
	link(rel='stylesheet' type='text/css' href='css/contact_form.css')

block content
	form#contactForm.contact
		fieldset#contactHeader.contact
			h1 Contact Form
			p Please feel free to send me any questions, comments, or feedback. I would love to hear from you.
		fieldset#contactBody.contact
			ul
				li
					label(for='name') name
						span(class='fa fa-user')
					input.contact(type='text' name='name' placeholder='Your Name' autofocus)
				li
					label(for='email') email
						span(class='fa fa-envelope')
					input.contact(type='email' name='email' placeholder='you@emailprovider.com' required)
				li
					label(for='message') message
						span(class='fa fa-comment')
					textarea.contact(name='message' placeholder="Let's work together!" required)
				li
					input.contact(type='submit' name='submit' value='send')
	section#businessCard
		// GIVE OUT NO PHONE NUMBER. upon request only.
		div#contactInfo
			h1 Contact Information	
			a(target='_self' href='mailto:0000000000000000@gamil.com') email me
		div#networks
			h2 Networks
			a(href='https://github.com/Brian-Koscielniak') GitHub
			a Linkedin
			a Indeed
		div#links
			h2 Further Info
			a(href='resume') Resume
			// assets/Brian_Koscielniak-Web_Developer-Resume
			a(href='businessCard') Card
			// NO PHONE NUMBER 
			// assets/Brian_Koscielniak-Web_Developer-Card
