extends ./layout.jade

block content
	figure#head-shot
		img(src='http://lorempixel.com/1000/1000/people' alt='Brian Koscielniak')
	h1 Info
	h2 Mission
	p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nibh est, blandit ut augue eget, pretium vulputate orci. Quisque dictum purus in erat gravida ultricies. Etiam nec purus eget velit finibus placerat. Vestibulum turpis urna, placerat feugiat dolor sit amet, sollicitudin congue tortor. Vestibulum commodo tellus at tortor mattis, ut hendrerit lacus finibus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer non mi fringilla, ullamcorper ipsum nec, ullamcorper massa. Aenean consequat rutrum tellus ac convallis. Cras ut dictum risus, eu aliquam est. Duis sagittis metus varius sem fringilla, et mattis lorem pharetra. 
	h2 Biography
	p Nam non imperdiet odio. Nulla hendrerit malesuada diam at gravida. Nunc vulputate lectus non nibh rutrum, sed porta augue vestibulum. Aenean felis velit, eleifend id libero eget, ultrices auctor enim. Curabitur non interdum lectus, et mollis magna. Ut a dolor sit amet tortor rhoncus tincidunt vitae a ex. Proin vel rhoncus velit, a iaculis turpis. Morbi ullamcorper est et posuere vulputate. Nunc pretium, nibh suscipit egestas sodales, nisl neque luctus neque, at imperdiet turpis leo nec nunc. Donec id neque auctor, iaculis elit vitae, lacinia turpis. Sed venenatis ante non posuere mollis. Phasellus efficitur, erat a tempor sollicitudin, diam neque accumsan massa, vel venenatis dolor eros nec sapien. Ut vel mauris placerat, tristique turpis ac, posuere mi. 
	p Praesent faucibus ex purus, at tempus eros malesuada et. Quisque porta ante dolor, id sodales lacus blandit nec. Donec eros neque, ultricies eu hendrerit tristique, tristique pharetra quam. Suspendisse fringilla lectus ac ipsum iaculis, et scelerisque velit fringilla. Donec nec aliquam lectus, non maximus augue. Proin felis mi, eleifend eu viverra nec, porta sit amet nisi. Maecenas lorem turpis, porta quis dui sit amet, commodo egestas quam. Suspendisse potenti. Maecenas fringilla, purus nec pharetra dignissim, lacus felis egestas ex, eu gravida tellus turpis sed neque. Vestibulum risus risus, convallis quis sodales non, pretium quis tellus. Nullam non bibendum mauris, sit amet cursus mi. 
