doctype html
html(lang='en-us')
	head
		block title
			title Brian Koscielniak, Web Developer
		block meta
			meta(name='viewport' content='width=device-width, maximum-scale=1.0, minimun-scale=1.0, initial-scale=1.0')
			meta(type='author' content='Brian Koscielniak')
		block styles
			link(rel='stylesheet' type='text/css' href='assets/font-awesome-4.5.0/css/font-awesome.min.css')
			link(href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css')
			link(rel='stylesheet' type='text/css' href='css/main.css')
		block uniqueStyles
	body
		block nav
			mav#dropNav.navReady
				div#dropLogo.logo
					a(href='/')
						img(src='assets/images/logo/logo_white-o.svg')
				div
					ul
						li.navItem
							a(href='about') About
						li.navItem
							a(href='showcase') Showcase
						ul
							li.navItem
								a(href="showcase/realtor") Realtor Application
							li.navItem
								a(href="showcase/cms") CMS Application
							li.navItem
								a(href="showcase/flexbox") Flexbox Generator
							li.navItem
								a(href="showcase/cards") Card Games
							li.navItem
								a(href="showcase/brand") Personal Brand
				div
					ul 
						li.navItem
							a(href='contact') Contact 
						ul
							li.navItem
								a(title='Brian Koscielniak at GitHub' href='https://github.com/Brian-Koscielniak') GitHub
							li.navItem
								a(title='Brian Koscielniak at Linkedin' href='http://www.linkedin.com/in/bkoscielniak') Linkedin
							li.navItem
								a(title='email Brian Koscielniak' target='_self' href='mailto:bkoscielniak31@gamil.com') Email
							li.navItem
								a Resume
							li.navItem
								a(class='qrLink') QR 
									span(class='fa fa-qrcode') 
						li.navItem
							a(href='blog') Blog
			nav#mainNav
				ul
					li.toggleBars
						i#navToggler(class='fa fa-bars')
					li.navItem
						a(href='about') About
					li.navItem
						a(href='showcase') Showcase
					li.navItem
						a(href='contact') Contact 
					li.navItem
						a(href='blog') Blog
		main
			block content
				p Sorry about that, there is nothing at this location. 
					a(href='/') This link with bring you to site root.
				p.error ERROR CODE 404 (not found)
			
		block foot
			footer
				div.logo
					a(href='/')
						img(src='assets/images/logo/logo_white-o.svg')
				div.tagline
					p 
						span In a phrase tell them what you do: 
						| I design and code custom applications, from layout to function, giving special attention to usability. 
				div.social
					a(class='fa fa-github-alt' title='Brian Koscielniak at GitHub' href='https://github.com/Brian-Koscielniak')
					a(class='fa fa-linkedin-square' title='Brian Koscielniak at Linkedin' href='http://www.linkedin.com/in/bkoscielniak')
					a(class='fa fa-envelope-o' title='email Brian Koscielniak' target='_self' href='mailto:bkoscielniak31@gamil.com')
		block scripts
			script(type='text/javascript' src='js/Ajax.js')
			script(type='text/javascript' src='js/main.js')
		block uniqueScripts
