doctype html
html(lang='en-us')
	head
		block title
			title Brian Koscielniak, Web Developer
		block meta
			meta(name='viewport' content='width=device-width, maximum-scale=1.0, minimun-scale=1.0, initial-scale=1.0')
			meta(type='author' content='Brian Koscielniak')
		block styles
			link(rel='stylesheet' type='text/css' href='assets/font-awesome-4.5.0/css/font-awesome.min.css')
			link(href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css')
			link(rel='stylesheet' type='text/css' href='css/main.css')
		block uniqueStyles
	body
		block nav
			mav#dropNav.navReady
				p full nav here!
			nav#mainNav
				ul
					li.toggleBars
						i#navToggler(class='fa fa-bars')
					li.navItem
						a(href='info') info
					li.navItem
						a(href='projects') projects
					li.navItem
						a(href='contact') contact 
					li.navItem
						a(href='blog') blog
		main
			block content
				p Sorry about that, there is nothing at this location. 
					a(href='/') This link with bring you to site root.
				p.error ERROR CODE 404 (not found)
			
		block foot
			footer
				div.logo
					a(href='/')
						img(src='assets/logo03-fill-white.svg')
				div.tagline
					p 
						span In a phrase tell them what you do: 
						| I build custom applications, with usability, responsiveness, and performance in mind. 
				div.social
					a(class='fa fa-envelope-o' title='email Brian Koscielniak' target='_self' href='mailto:0000000000000000@gamil.com')
					a(class='fa fa-github-alt' title='Brian Koscielniak at GitHub' href='https://github.com/Brian-Koscielniak')
					a(class='fa fa-linkedin-square' title='Brian Koscielniak at Linkedin' href='#')
					a(class='fa fa-google-plus' title='Brian Koscielniak at Google+' href='#')
		block scripts
			script(type='text/javascript' src='js/Ajax.js')
			script(type='text/javascript' src='js/main.js')
		block uniqueScripts
