extends ./layout.jade

block content
	h1 My Work
	section#projectArea
		div.project
			img(src='http://lorempixel.com/g/500/500/' alt='Project')
			p.projectDescription This project was done yap yap yap ipsum blah blah lorem
		div.project
			img(src='http://lorempixel.com/g/500/500/' alt='Project')
			p.projectDescription This project was done yap yap yap ipsum blah blah lorem
		div.project
			img(src='http://lorempixel.com/g/500/500/' alt='Project')
			p.projectDescription This project was done yap yap yap ipsum blah blah lorem
		div.project
			img(src='http://lorempixel.com/g/500/500/' alt='Project')
			p.projectDescription This project was done yap yap yap ipsum blah blah lorem
		div.project
			img(src='http://lorempixel.com/g/500/500/' alt='Project')
			p.projectDescription This project was done yap yap yap ipsum blah blah lorem
