extends ./layout.jade

block uniqueStyles
	link(rel='stylesheet' type='text/css' href='css/showcase.css')

block content
	h1 My Work
	section#projectArea
		div.project.realtorApp(tabindex='1')
			a(href="showcase/realtor")
				span(class='fa fa-calculator')
				h2 Realtor Application
				p View project
		div.project.cmsApp(tabindex='2')
			a(href="showcase/cms")
				span(class='fa fa-pencil-square-o')
				h2 CMS Application
				p View project
		div.project.cardApp(tabindex='3')
			a(href="showcase/cards")
				span(class='fa fa-gamepad')
				h2 Card Games with Node.js
				p View project
		div.project.branding(tabindex='4')
			a(href="showcase/brand")
				span(class='fa fa-flash')
				h2 Personal Brand
				p View project
		div.project.flexProject(tabindex='5')
			a(href="showcase/flexbox")
				span(class='fa fa-arrows')
				h2 Flexbox Generator
				p View project

block uniqueScripts
	script(type='text/javascript' src='js/showcase.js')
