extends ./layout.jade

block uniqueStyles
	link(rel='stylesheet' type='text/css' href='css/showcase.css')

block content
	h1 My Work
	section#projectArea
		div.project.realtorApp
			a(href="#" tabindex='0')
				span(class='fa fa-calculator')
				h2 Realtor Application
				p View project
		div.project.cmsApp
			a(href="#" tabindex='1')
				span(class='fa fa-pencil-square-o')
				h2 CMS Application
				p View project
		div.project
			a(href="#" tabindex='2')
				span(class='fa fa-code')
				h2 Something Else
				p View project

block uniqueScripts
	script(type='text/javascript' src='js/showcase.js')
