/* TABLE OF CONTENTS ==================
- LESS
	- theme
	- mixins
- Adjusting Defaults
- Constants
- Small Screen
	- Positioning
	- Style
	- Contact info box
- Medium Screen
	- Positioning
	- Style
	- Contact info box
- Large Screen
	- Positioning
	- Style
	- Contact info box
- UI infoBox
==================================== */
/* LESS variables, mixins, etc */
/* import theme (colors, fonts, etc) */
/* Color Scheme by Brian Koscielniak */
/* Font */
.bmkFont {
  font-family: 'Open Sans', sans-serif;
}
/* mixins */
.fieldText {
  font-size: 1.25em;
}
/* Adjusting defaults */
fieldset {
  border: none;
}
/* Constant styles */
/* Contact info styling */
#informationArea a {
  display: block;
  padding-left: 1em;
  color: black;
  text-decoration: none;
}
#informationArea a:hover {
  font-weight: bold;
}
#informationArea div {
  margin-bottom: .5em;
  padding-bottom: .5em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
#informationArea div:last-of-type {
  border: none;
}
/* details */
#contactBody label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 7em;
}
#contactBody textarea {
  resize: vertical;
}
/* Small screen */
@media screen and (max-width: 30em) {
  /* positioning */
  main {
    display: flex;
    flex-direction: column;
  }
  #contactForm {
    order: 1;
  }
  #contactBody li {
    margin: .5em 0;
    display: flex;
    flex-direction: column;
  }
  #contactBody label {
    align-self: flex-start;
  }
  #contactBody input[type=submit] {
    align-self: flex-start;
    min-width: 100px;
  }
  /* style */
  #contactForm {
    background: #e6e6e6;
    border-radius: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    border-left: none;
    border-right: none;
    box-shadow: 2px 2px 4px #999;
    box-sizing: border-box;
    padding: .5em;
    width: 100%;
  }
  #contactBody label {
    background: #3588af;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    border-left: none;
    border-right: none;
    box-shadow: 2px 2px 4px #999;
    box-sizing: border-box;
    padding: .5em;
    width: 100%;
    color: #f3f3f3;
    font-size: 1.25em;
    font-weight: bold;
    text-shadow: 2px 2px 4px grey;
    border-bottom: none;
  }
  #contactBody textarea {
    background: #ffffff;
    border-radius: 0 0 5px 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    border-left: none;
    border-right: none;
    box-shadow: 2px 2px 4px #999;
    box-sizing: border-box;
    padding: .5em;
    width: 100%;
    font-size: 1.25em;
    height: 8em;
  }
  #contactBody input {
    background: #ffffff;
    border-radius: 0 0 5px 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    border-left: none;
    border-right: none;
    box-shadow: 2px 2px 4px #999;
    box-sizing: border-box;
    padding: .5em;
    width: 100%;
    font-size: 1.25em;
  }
  #contactBody input[type=submit] {
    background: #3588af;
    border-radius: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    border-left: none;
    border-right: none;
    box-shadow: 2px 2px 4px #999;
    box-sizing: border-box;
    padding: .5em;
    width: 30%;
    color: #f3f3f3;
    font-size: 1.25em;
    font-weight: bold;
    text-shadow: 2px 2px 4px grey;
  }
  #contactBody input[type=submit][type=submit]:hover {
    background: #61accf;
    cursor: pointer;
  }
  /* contact info styling */
  #informationArea {
    background: #e6e6e6;
    border-radius: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    border-left: none;
    border-right: none;
    box-shadow: 2px 2px 4px #999;
    box-sizing: border-box;
    padding: .5em;
    width: 100%;
    margin-bottom: 1em;
  }
}
/* Medium Screen */
@media screen and (min-width: 30em) and (max-width: 60em) {
  /* positioning */
  main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
  }
  #contactForm {
    min-width: 450px;
    order: 1;
  }
  #contactBody li {
    margin: .5em 0;
    display: flex;
    justify-content: flex-end;
  }
  #contactBody label {
    align-self: flex-start;
  }
  #contactBody input[type=submit] {
    align-self: flex-start;
  }
  /* style */
  #contactForm {
    background: #e6e6e6;
    border-radius: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    border-left: none;
    border-right: none;
    box-shadow: 2px 2px 4px #999;
    box-sizing: border-box;
    padding: .5em;
    width: 100%;
  }
  #contactBody label {
    background: #3588af;
    border-radius: 5px 0 0 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    border-left: none;
    border-right: none;
    box-shadow: 2px 2px 4px #999;
    box-sizing: border-box;
    padding: .5em;
    width: 30%;
    color: #f3f3f3;
    font-size: 1.25em;
    font-weight: bold;
    text-shadow: 2px 2px 4px grey;
  }
  #contactBody textarea {
    background: #ffffff;
    border-radius: 0 5px 5px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    border-left: none;
    border-right: none;
    box-shadow: 2px 2px 4px #999;
    box-sizing: border-box;
    padding: .5em;
    width: 70%;
    font-size: 1.25em;
    height: 8em;
  }
  #contactBody input {
    background: #ffffff;
    border-radius: 0 5px 5px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    border-left: none;
    border-right: none;
    box-shadow: 2px 2px 4px #999;
    box-sizing: border-box;
    padding: .5em;
    width: 70%;
    font-size: 1.25em;
  }
  #contactBody input[type=submit] {
    background: #3588af;
    border-radius: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    border-left: none;
    border-right: none;
    box-shadow: 2px 2px 4px #999;
    box-sizing: border-box;
    padding: .5em;
    width: 20%;
    color: #f3f3f3;
    font-size: 1.25em;
    font-weight: bold;
    text-shadow: 2px 2px 4px grey;
  }
  #contactBody input[type=submit][type=submit]:hover {
    background: #61accf;
    cursor: pointer;
  }
  /* contact info styling */
  #informationArea {
    background: #e6e6e6;
    border-radius: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    border-left: none;
    border-right: none;
    box-shadow: 2px 2px 4px #999;
    box-sizing: border-box;
    padding: .5em;
    width: 100%;
    margin-bottom: 1em;
    min-width: 450px;
  }
}
/* Large Screen */
@media screen and (min-width: 60em) {
  /* positioning */
  main {
    display: flex;
    justify-content: center;
  }
  #contactForm {
    min-width: 600px;
  }
  #contactBody li {
    margin: .5em 0;
    display: flex;
    justify-content: flex-end;
  }
  #contactBody label {
    align-self: flex-start;
  }
  #contactBody input[type=submit] {
    align-self: flex-start;
  }
  /* style */
  #contactForm {
    background: #e6e6e6;
    border-radius: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    border-left: none;
    border-right: none;
    box-shadow: 2px 2px 4px #999;
    box-sizing: border-box;
    padding: .5em;
    width: 70%;
  }
  #contactBody label {
    background: #3588af;
    border-radius: 5px 0 0 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    border-left: none;
    border-right: none;
    box-shadow: 2px 2px 4px #999;
    box-sizing: border-box;
    padding: .5em;
    width: 30%;
    color: #f3f3f3;
    font-size: 1.25em;
    font-weight: bold;
    text-shadow: 2px 2px 4px grey;
  }
  #contactBody textarea {
    background: #ffffff;
    border-radius: 0 5px 5px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    border-left: none;
    border-right: none;
    box-shadow: 2px 2px 4px #999;
    box-sizing: border-box;
    padding: .5em;
    width: 70%;
    font-size: 1.25em;
    height: 8em;
  }
  #contactBody input {
    background: #ffffff;
    border-radius: 0 5px 5px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    border-left: none;
    border-right: none;
    box-shadow: 2px 2px 4px #999;
    box-sizing: border-box;
    padding: .5em;
    width: 70%;
    font-size: 1.25em;
  }
  #contactBody input[type=submit] {
    background: #3588af;
    border-radius: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    border-left: none;
    border-right: none;
    box-shadow: 2px 2px 4px #999;
    box-sizing: border-box;
    padding: .5em;
    width: 20%;
    color: #f3f3f3;
    font-size: 1.25em;
    font-weight: bold;
    text-shadow: 2px 2px 4px grey;
  }
  #contactBody input[type=submit][type=submit]:hover {
    background: #61accf;
    cursor: pointer;
  }
  /* contact info styling */
  #informationArea {
    background: #e6e6e6;
    border-radius: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    border-left: none;
    border-right: none;
    box-shadow: 2px 2px 4px #999;
    box-sizing: border-box;
    padding: .5em;
    width: 30%;
    margin-left: 1em;
  }
}
/* UI infoBox Styles */
.infoBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(77, 77, 77, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.infoBox p {
  background: #3588af;
  border-radius: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  border-left: none;
  border-right: none;
  box-shadow: 2px 2px 4px #999;
  box-sizing: border-box;
  padding: .5em;
  width: 50%;
  padding: 1em;
  min-width: 300px;
  box-shadow: 2px 2px 4px #555;
  background: #e6e6e6;
}
.infoBox p span {
  font-size: 1.5em;
  padding: .2em;
}
.infoBox input[type=button] {
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  float: right;
  background: #a3f5a3;
  border-radius: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  border-left: none;
  border-right: none;
  box-shadow: 2px 2px 4px #999;
  box-sizing: border-box;
  padding: .5em;
  width: 5%;
  min-width: 4em;
}
.infoBox .fa-check {
  color: green;
}
.infoBox .fa-close {
  color: red;
}
.infoError input[type=button] {
  background: #f5a3a3;
}
