/* TABLE OF CONTENTS ==================
- LESS
	- colors
	- mixins
- Adjusting Defaults
- Setting global styling
	- text
	- content
	- navigation
	- footer
- Small screen specific
	- content
	- navigation
	- footer
- Medium screen specific
	- content
	- navigation
	- footer
- Large screen specific
	- content
	- navigation
	- footer
- font-awesome customize
==================================== */
/* LESS variables, mixins, etc */
/* colors */
/* Sea Wolf theme by xizzzy @ color.adobe.com */
/* High Tech theme by jedis @ color.adobe.com */
/* mixins */
.colFlex {
  display: flex;
  flex-direction: column;
}
/* Adjusting Defaults */
/* removing defualts */
* {
  padding: 0;
  margin: 0;
  border: none;
  font-size: 100%;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  line-height: 150%;
}
/* Setting global Constant styling */
/* text */
h1 {
  font-size: 160%;
}
h2 {
  font-size: 150%;
}
h3 {
  font-size: 140%;
}
p {
  font-size: 110%;
  line-height: 170%;
  margin-bottom: 1em;
}
/* content */
body {
  background: #FEFFFB;
  min-height: 500px;
  margin-bottom: 300px;
}
main {
  background: #FEFFFB;
}
a {
  color: #f87e00;
}
/* dropNav */
#dropNav {
  width: 100%;
  overflow: hidden;
  background: #232D33;
  color: #FEFFFB;
}
.open {
  height: 300px;
  animation-name: slideOpen;
  animation-duration: .5s;
}
@keyframes slideOpen {
  0% {
    height: 5px;
  }
  100% {
    height: 300px;
  }
}
.closed {
  height: 5px;
  animation-name: slideClosed;
  animation-duration: .5s;
}
@keyframes slideClosed {
  0% {
    height: 300px;
  }
  100% {
    height: 5px;
  }
}
.navReady {
  height: 5px;
}
/* footer */
footer {
  text-align: center;
  font-size: 3em;
  height: 500px;
  width: 100%;
  background: #17384C;
  color: #FEFFFB;
}
/* small screen specific */
@media screen and (max-width: 30em) {
  /* content */
  body {
    display: flex;
    flex-direction: column;
  }
  main {
    padding: 2px;
  }
  /* dropNav */
  #dropNav {
    display: none;
  }
  /* main navigation */
  #mainNav {
    order: 1;
  }
  #mainNav ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 1px;
    list-style-type: none;
  }
  #mainNav ul li {
    flex: 1;
    display: flex;
    text-align: center;
  }
  #mainNav ul li a {
    flex: 1;
    color: #FEFFFB;
    font-size: 1.25em;
    font-weight: bold;
    background: #849696;
    outline: #232D33 solid 1px;
    line-height: 4em;
    /* sizes the nav */
    text-decoration: none;
  }
  #mainNav ul li a:hover {
    color: #232D33;
    text-shadow: 0 0 2px #FEFFFB;
    background: #bbc5c5;
  }
  /* footer */
  footer {
    font-size: 2em;
    flex: 1;
    order: 1;
  }
}
/* medium screen */
@media screen and (min-width: 30em) and (max-width: 60em) {
  /* content */
  body {
    display: flex;
    flex-direction: column;
  }
  main {
    padding: 10%;
  }
  /* drop nav */
  #navToggler {
    margin-left: 0;
  }
  /* main nav */
  #mainNav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
  }
  #mainNav ul li {
    display: flex;
    align-items: center;
    text-align: center;
  }
  #mainNav ul li a {
    padding: 0 1em;
    flex: 1;
    line-height: 3em;
    /* sizes the nav */
    text-decoration: none;
  }
  #mainNav ul li a:hover {
    text-decoration: underline;
  }
}
/* larger screen size specific */
@media screen and (min-width: 60em) {
  /* content */
  body {
    display: flex;
    flex-direction: column;
  }
  main {
    padding: 20%;
  }
  /* drop nav */
  .toggleBars {
    order: 1;
  }
  .navItem:nth-of-type(4),
  .navItem:nth-of-type(5) {
    order: 2;
  }
  /* main navigation */
  #mainNav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
  }
  #mainNav ul li {
    display: flex;
    align-items: center;
    text-align: center;
  }
  #mainNav ul li a {
    padding: 0 1em;
    flex: 1;
    line-height: 3em;
    /* sizes the nav */
    text-decoration: none;
  }
  #mainNav ul li a:hover {
    text-decoration: underline;
  }
  /* footer */
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -2;
  }
  footer .logo img {
    width: 15%;
    height: 15%;
  }
}
/* font-awesome customize */
#navToggler {
  size: 1.2em;
  background: #232D33;
  color: #FEFFFB;
  padding: 1em 1.5em;
  cursor: pointer;
  margin: auto 1em;
}
@media screen and (max-width: 30em) {
  #navToggler {
    display: none;
  }
}
