/* TABLE OF CONTENTS ==================
- LESS
	- theme
	- mixins
- Adjusting Defaults
- Setting global styling
	- text
	- content
	- navigation
	- footer
- Small screen specific
	- content
	- navigation
	- footer
- Medium screen specific
	- content
	- navigation
	- footer
- Large screen specific
	- content
	- navigation
	- footer
- font-awesome customize
==================================== */
/* LESS variables, mixins, etc */
/* import theme (colors, fonts, etc) */
/* TABLE OF CONTENTS ==================
- Colors
- Fonts
==================================== */
/* Color Scheme by Brian Koscielniak */
/* Font */
.bmkFont {
  font-family: 'Open Sans', sans-serif;
}
/* mixins */
.colFlex {
  display: flex;
  flex-direction: column;
}
/* Adjusting Defaults */
/* removing defualts */
* {
  padding: 0;
  margin: 0;
  border: none;
  font-size: 100%;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  line-height: 150%;
}
/* Setting global Constant styling */
/* text */
h1 {
  font-size: 160%;
}
h2 {
  font-size: 150%;
}
h3 {
  font-size: 140%;
}
p {
  font-size: 110%;
  line-height: 170%;
  margin-bottom: 1em;
}
/* content */
body {
  display: flex;
  flex-direction: column;
  background: #f3f3f3;
  min-height: 500px;
  margin-bottom: 400px;
}
main {
  background: #f3f3f3;
}
a {
  color: #296a88;
}
figure img {
  display: block;
  width: 100%;
  height: auto;
}
/* main navigation */
#mainNav {
  background: #f3f3f3;
  width: 100%;
}
#mainNav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
}
#mainNav ul li {
  display: flex;
  align-items: center;
  text-align: center;
}
#mainNav ul li a {
  padding: 0 1em;
  flex: 1;
  line-height: 3em;
  /* sizes the nav */
  text-decoration: none;
}
#mainNav ul li a:hover {
  text-decoration: underline;
}
/* dropNav */
#dropNav {
  width: 100%;
  overflow: hidden;
  background: #111111;
  color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: flex-top;
  flex-flow: row wrap;
}
#dropNav div {
  margin: 0 1em;
  width: 20em;
}
#dropNav div img {
  text-align: center;
  width: 40%;
  margin: 0 30%;
}
#dropNav div ul:first-child {
  font-weight: bold;
  font-size: 110%;
}
#dropNav div ul:first-child li {
  padding: .5em 0;
  list-style-type: none;
  border-bottom: 1px solid rgba(243, 243, 243, 0.3);
}
#dropNav div ul:first-child ul {
  font-weight: normal;
  font-size: 90%;
  color: rgba(243, 243, 243, 0.8);
}
#dropNav div ul:first-child ul li {
  padding: .25em 0;
  margin: 0 .25em;
}
#dropNav div ul:first-child ul li:last-of-type {
  border: none;
}
/* Properly position nav items */
.toggleBars {
  order: 1;
}
.navItem:nth-of-type(4),
.navItem:nth-of-type(5) {
  order: 2;
}
/* drop nav animations */
.open {
  padding: 2em 0;
  max-height: 1500px;
  animation-name: slideOpen;
  animation-timing-function: ease-out;
  animation-duration: .5s;
}
.open * {
  animation-name: fadeIn;
  animation-duration: .5s;
}
@keyframes slideOpen {
  0% {
    max-height: 5px;
  }
  100% {
    max-height: 1500px;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.closed {
  padding: 2em 0;
  max-height: 5px;
  animation-name: slideClosed;
  animation-duration: .5s;
}
.closed * {
  opacity: 0;
  animation-name: fadeOut;
  animation-duration: .5s;
}
@keyframes slideClosed {
  0% {
    padding: 2em 0;
    max-height: 1500px;
  }
  100% {
    padding: 0;
    max-height: 5px;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.navReady {
  height: 5px;
}
.navReady * {
  display: none;
}
/* footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 400px;
  width: 100%;
  background: #3588af;
  color: #f3f3f3;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -2;
}
footer .social a {
  border-radius: 4em;
  background: #2f799b;
}
footer a {
  width: 1em;
  margin: .5em;
  font-size: 1.5em;
  text-decoration: none;
  padding: .75em;
  color: #f3f3f3;
}
footer a:hover {
  color: #3588af;
}
footer p {
  max-width: 600px;
}
/* details */
.tagline span {
  color: #b4bcbe;
}
/* small screen specific */
@media screen and (max-width: 30em) {
  /* content */
  body {
    margin-bottom: 500px;
  }
  main {
    padding: 2px 2px 5em;
  }
  /* dropNav */
  #dropNav {
    display: none;
  }
  /* main navigation */
  #mainNav {
    order: 1;
  }
  #mainNav ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 1px;
    list-style-type: none;
  }
  #mainNav ul li {
    flex: 1;
    display: flex;
    text-align: center;
  }
  #mainNav ul li a {
    flex: 1;
    color: #f3f3f3;
    font-size: 1.25em;
    font-weight: bold;
    background: #99a3a6;
    outline: #111111 solid 1px;
    line-height: 4em;
    /* sizes the nav */
    text-decoration: none;
  }
  #mainNav ul li a:hover {
    color: #111111;
    text-shadow: 0 0 2px #f3f3f3;
    background: #cfd4d6;
    text-decoration: none;
  }
  /* footer */
  footer {
    order: 1;
    min-height: 500px;
  }
}
/* medium screen */
@media screen and (min-width: 30em) and (max-width: 60em) {
  /* content */
  main {
    padding: 4em 10%;
  }
  /* drop nav */
  #navToggler {
    margin-left: 0;
  }
  #dropNav {
    flex-direction: column;
    align-items: center;
  }
  /* Sizing nav items for even centered */
  .navItem {
    width: 7em;
  }
}
/* larger screen size specific */
@media screen and (min-width: 60em) {
  /* content */
  main {
    padding: 4em 20% 8em;
  }
  /* drop nav */
  #dropNav div:first-of-type {
    align-self: center;
  }
  /* Sizing nav items for even centered */
  .navItem {
    width: 8em;
  }
}
/* font-awesome customize */
#navToggler {
  size: 1.2em;
  background: #111111;
  color: #f3f3f3;
  padding: 1em 1.5em;
  cursor: pointer;
  margin: auto 1em;
}
@media screen and (max-width: 30em) {
  #navToggler {
    display: none;
  }
}
