/* TABLE OF CONTENTS ==================
- LESS
	- colors
	- mixins
- Adjusting Defaults
- Setting global styling
	- text
	- content
	- navigation
	- footer
- Small screen specific
	- content
	- navigation
	- footer
- Medium screen specific
	- content
	- navigation
	- footer
- Large screen specific
	- content
	- navigation
	- footer
- font-awesome customize
==================================== */



/* LESS variables, mixins, etc */
	/* colors */
		/* Sea Wolf theme by xizzzy @ color.adobe.com */
		@wolfRed: #DC3522;
		@wolfTan: #D9CB9E;
		@wolfGreen: #374140;
		@wolfGrey: #2A2C2B;
		@wolfDark: #1E1E20;

		/* High Tech theme by jedis @ color.adobe.com */
		@techGrey: #849696;
		@techWhite: #FEFFFB;
		@techDark: #232D33;
		@techGreen: #17384C;
		@techOrange: #FF972C;

	/* mixins */
	.colFlex {
		display: flex;
		flex-direction: column;
	}

/* Adjusting Defaults */
	/* removing defualts */
	* {
		padding: 0;
		margin: 0;
		border: none;
		font-size: 100%;
		font-weight: normal;
		font-family: 'Open Sans', sans-serif;
		line-height: 150%;
	}

/* Setting global Constant styling */
	/* text */
	h1 {
		font-size: 160%;
	}
	h2 {
		font-size: 150%;
	}
	h3 {
		font-size: 140%;
	}
	p {
		font-size: 110%;
		line-height: 170%;
		margin-bottom: 1em;
	}

	/* content */
	body {
		.colFlex;
		background: @techWhite;
		min-height: 500px;
		margin-bottom: 400px;
	}
	main {
		background: @techWhite;
	}
	a {
		color: darken(@techOrange, 10%);
	}
	figure {
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}

	/* main navigation */
	#mainNav {
		background: @techWhite;
		width: 100%;
		ul {
			display: flex;
			flex-direction: row;
			justify-content: center;

			list-style-type: none;
			li {
				display: flex;
				align-items: center;

				text-align: center;
				a {
					padding: 0 1em;
					flex: 1;
					line-height: 3em; /* sizes the nav */
					text-decoration: none;	
					&:hover {
						text-decoration: underline;	
					}
				}
			}
		}
	}

	/* dropNav */
	#dropNav {
		width: 100%;
		overflow: hidden;
		background: @techDark;
		color: @techWhite;

		display: flex;
		justify-content: center;
		align-items: flex-top;
		flex-flow: row wrap;
		
		div {
			margin: 0 1em;
			width: 20em;
			img {
				text-align: center;
				width: 40%;
				margin: 0 30%;
			}
			ul:first-child {
				font-weight: bold;
				font-size: 110%;
				li {
					padding: .5em 0;
					list-style-type: none;
					border-bottom: 1px solid fade(@techWhite, 30%);
				}
				ul {
					font-weight: normal;
					font-size: (100% - 10%);
					color: fade(@techWhite, 80%);
					li {
						padding: .25em 0;
						margin: 0 .25em;
					}
					li:last-of-type {
						border: none;
					}
				}
			}
		}
	}
	.toggleBars {
		order: 1;
	}
	.navItem:nth-of-type(4), .navItem:nth-of-type(5) {
		order: 2;
	}

	/* drop nav animations */
	.open {
		padding: 2em 0;
		max-height: 1500px;	
		animation-name: slideOpen;
		animation-timing-function: ease-out;
		animation-duration: .5s;
		* {
			animation-name: fadeIn;
			animation-duration: .5s;
		}
	}
	@keyframes slideOpen {
		0% {max-height: 5px;}
		100% {max-height: 1500px;}
	}
	@keyframes fadeIn {
		0% {opacity: 0;}
		100% {opacity: 1;}
	}
	.closed {
		padding: 2em 0;
		max-height: 5px;	
		animation-name: slideClosed;
		animation-duration: .5s;
		* {
			opacity: 0;
			animation-name: fadeOut;
			animation-duration: .5s;
		}
	}
	@keyframes slideClosed {
		0% {padding: 2em 0; max-height: 1500px;}
		100% {padding: 0; max-height: 5px;}
		
	}
	@keyframes fadeOut {
		0% {opacity: 1;}
		100% {opacity: 0;}
	}
	.navReady {
		height: 5px;
		* {
			display: none;
		}
	}

	/* footer */
	footer {
		.colFlex;
		justify-content: center;
		text-align: center;
		align-items: center;
		height: 400px;
		width: 100%;
		background: @techGreen;
		color: @techWhite;
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: -2;
		.social a {
			border-radius: 4em;
			background: darken(@techGreen, 5%);
		}
		a {
			width: 1em;
			margin: .5em;
			font-size: 1.5em;
			text-decoration: none;
			padding: .75em;
			color: @techWhite;
			&:hover {
				color: @techOrange;
			}
		}
		p {
			max-width: 600px;
		}
	}	
	/* details */
	.tagline {
		span {
			color: lighten(@techGrey, 10%);
		}
	}

/* small screen specific */
@media screen and (max-width: 30em){
	/* content */
	body {
		margin-bottom: 500px;
	}
	main {
		padding: 2px 2px 5em;
	}
	
	/* dropNav */
	#dropNav {
		display: none;
	}
	
	/* main navigation */
	#mainNav {
		order: 1;
		ul {
			.colFlex;
			margin-bottom: 1px;
			list-style-type: none;
			li {
				flex: 1;
				display: flex;
				text-align: center;
				a {
					flex: 1;
					color: @techWhite;
					font-size: 1.25em;
					font-weight: bold;
					background: @techGrey;
					outline: @techDark solid 1px;
					line-height: 4em; /* sizes the nav */
					text-decoration: none;	
					&:hover {
						color: @techDark;
						text-shadow: 0 0 2px @techWhite;
						background: lighten(@techGrey, 20%);
						text-decoration: none;	
					}
				}
			}
		}
	}	

	/* footer */
	footer {
		order: 1;
		min-height: 500px;
	}
}

/* medium screen */
@media screen and (min-width: 30em) and (max-width: 60em){
	/* content */
	main {
		padding: 4em 10%;
	}

	/* drop nav */
	#navToggler {
		margin-left: 0;
	}
	#dropNav {
		flex-direction: column;
		align-items: center;
	}
}

/* larger screen size specific */
@media screen and (min-width: 60em){
	/* content */
	main {
		padding: 2em 20%;
	}
	
	/* drop nav */
	#dropNav {
		div:first-of-type {
			align-self: center;
		}
	}
}

/* font-awesome customize */
#navToggler {
	size: 1.2em;
	background: @techDark;
	color: @techWhite;
	padding: 1em 1.5em;
	cursor: pointer;
	margin: auto 1em;
}
@media screen and (max-width: 30em){
	#navToggler {
		display: none;
	}
}
