/* TABLE OF CONTENTS ==================
- LESS
	- theme
	- mixins
- Adjusting Defaults
- Setting global styling
	- text
	- content
	- navigation
	- footer
	- details
- Small screen specific
	- content
	- navigation
	- footer
- Medium screen specific
	- content
	- navigation
	- footer
- Large screen specific
	- content
	- navigation
	- footer
- font-awesome customize
==================================== */



/* LESS variables, mixins, etc */
	/* import theme (colors, fonts, etc) */
	@import (less) "theme.less";

	/* mixins */
	.colFlex {
		display: flex;
		flex-direction: column;
	}

/* Adjusting Defaults */
	/* removing defualts */
	* {
		padding: 0;
		margin: 0;
		border: none;
		font-size: 100%;
		font-weight: normal;
		.bmkFont;
		line-height: 150%;
	}

/* Setting global Constant styling */
	/* text */
	h1 {
		font-size: 160%;
	}
	h2 {
		font-size: 150%;
	}
	h3 {
		font-size: 140%;
	}
	p {
		font-size: 110%;
		line-height: 170%;
		margin-bottom: 1em;
	}

	/* content */
	body {
		.colFlex;
		background: @bmkWhite;
		min-height: 500px;
		margin-bottom: 400px;
	}
	main {
		background: @bmkWhite;
	}
	a {
		color: darken(@bmkBlue, 10%);
	}
	figure {
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}

	/* main navigation */
	#mainNav {
		background: @bmkWhite;
		width: 100%;
		ul {
			display: flex;
			flex-direction: row;
			justify-content: center;

			list-style-type: none;
			li {
				display: flex;
				align-items: center;

				text-align: center;
				a {
					padding: 0 1em;
					flex: 1;
					line-height: 3em; /* sizes the nav */
					text-decoration: none;	
					&:hover {
						font-weight: bold;
						animation-name: slowline;
						animation-duration: .5s;
					}
				}
			}
		}
	}

	/* dropNav */
	#dropNav {
		width: 100%;
		overflow: hidden;
		background: @bmkBlack;
		color: @bmkWhite;

		display: flex;
		justify-content: center;
		align-items: flex-top;
		flex-flow: row wrap;

		a {
			cursor: pointer;
			color: fade(@bmkWhite, 80%);
			text-decoration: none;
			display: inline-block;
			width: 100%;
			height: 100%;
			&:hover, &:focus {
				font-weight: bold;
			}
		}
		div {
			margin: 0 1em;
			width: 20em;
			img { /* for the logo */
				text-align: center;
				width: 40%;
				margin: 0 30%;
			}
			ul:first-child {
				flex: 2;
				font-weight: bold;
				font-size: 110%;
				li {
					padding: .5em 0;
					list-style-type: none;
					border-bottom: 1px solid fade(@bmkWhite, 30%);
				}
				ul {
					font-weight: normal;
					font-size: (100% - 10%);
					color: fade(@bmkWhite, 80%);
					li {
						padding: .25em 0;
						margin: 0 .5em;
						&:last-of-type {
							border: none;
						}
					}
				}
			}
		}
	}
	
	/* Properly position nav items */
	.toggleBars {
		order: 1;
	}
	#mainNav {
		.navItem:nth-of-type(4), .navItem:nth-of-type(5) {
			order: 2;
		}
	}
	

	/* drop nav animations */
	.open {
		padding: 2em 0;
		max-height: 1500px;	
		animation-name: slideOpen;
		animation-timing-function: ease-out;
		animation-duration: .5s;
		* {
			animation-name: fadeIn;
			animation-duration: .5s;
		}
	}
	@keyframes slideOpen {
		0% {max-height: 5px;}
		100% {max-height: 1500px;}
	}
	@keyframes fadeIn {
		0% {opacity: 0;}
		100% {opacity: 1;}
	}
	.closed {
		padding: 2em 0;
		max-height: 5px;	
		animation-name: slideClosed;
		animation-duration: .5s;
		* {
			opacity: 0;
			animation-name: fadeOut;
			animation-duration: .5s;
		}
	}
	@keyframes slideClosed {
		0% {padding: 2em 0; max-height: 1500px;}
		100% {padding: 0; max-height: 5px;}
		
	}
	@keyframes fadeOut {
		0% {opacity: 1;}
		100% {opacity: 0;}
	}
	.navReady {
		height: 5px;
		* {
			display: none;
		}
	}

	/* footer */
	footer {
		.colFlex;
		justify-content: center;
		text-align: center;
		align-items: center;
		height: 400px;
		width: 100%;
		background: @bmkBlue;
		color: @bmkWhite;
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: -2;
		.social a {
			border-radius: 4em;
			background: darken(@bmkBlue, 5%);
		}
		a {
			width: 1em;
			margin: .5em;
			font-size: 1.5em;
			text-decoration: none;
			padding: .75em;
			color: @bmkWhite;
			&:hover {
				color: darken(@bmkBlue, 25%);
			}
		}
		p {
			max-width: 600px;
		}
	}	
	/* details */
	.tagline {
		span {
			color: lighten(@bmkGrey, 15%);
		}
	}
	.qrBox {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: hsla(0, 0%, 30%, .5);
		display: flex;
		align-items: center;
		justify-content: center;
	}

/* small screen specific */
@media screen and (max-width: 30em){
	/* content */
	body {
		margin-bottom: 500px;
	}
	main {
		padding: 2px 2px 5em;
	}
	
	/* dropNav */
	#dropNav {
		display: none;
	}
	
	/* main navigation */
	#mainNav {
		order: 1;
		ul {
			.colFlex;
			margin-bottom: 1px;
			list-style-type: none;
			li {
				flex: 1;
				display: flex;
				text-align: center;
				a {
					flex: 1;
					color: @bmkWhite;
					font-size: 1.25em;
					font-weight: bold;
					background: @bmkGrey;
					outline: @bmkWhite solid 1px;
					line-height: 4em; /* sizes the nav */
					text-decoration: none;	
					&:hover {
						color: @bmkBlack;
						text-shadow: 1px 1px 1px @bmkWhite;
						background: darken(@bmkGrey, 10%);
						text-decoration: none;	
					}
				}
			}
		}
	}	
	
	/* footer */
	footer {
		order: 1;
		min-height: 500px;
	}
}

/* medium screen */
@media screen and (min-width: 30em) and (max-width: 60em){
	/* content */
	main {
		padding: 4em 10%;
	}

	/* drop nav */
	#navToggler {
		margin-left: 0;
	}
	#dropNav {
		flex-direction: column;
		align-items: center;
	}

	/* Sizing nav items for even centered */
	#mainNav {
		.navItem {
			width: 7em;
		}
	}
}

/* larger screen size specific */
@media screen and (min-width: 60em){
	/* content */
	main {
		padding: 4em 20% 8em;
	}
	
	/* drop nav */
	#dropNav {
		div:first-of-type {
			align-self: center;
		}
	}
	
	/* Sizing nav items for even centered */
	#mainNav {
		.navItem {
			width: 8em;
		}
	}
}

/* font-awesome customize */
#navToggler {
	size: 1.2em;
	background: @bmkBlack;
	color: @bmkWhite;
	padding: 1em 1.5em;
	cursor: pointer;
	margin: auto 1em;
}
@media screen and (max-width: 30em){
	#navToggler {
		display: none;
	}
}
